<h1>Scrabble Here</h1>
<form action='/results' method='get' class="form-group">
  <label for="word">Type your word</label>
  <input id="word" type="text">
  <button type="submit" class="btn btn-success">Enter</button>
</form>
